
<form action="/productos" method="post">
    <label for="title">Nombre</label>
    <input type="text" id="title" name="title" required/>
    <label for="precio">Precio</label>
    <input type="text" id="precio" name="precio" required/>
    <label for="thumbnail">Imagen</label>
    <input type="text" id="thumbnail" name="thumbnail" required/>
   
    <button type="submit">Submit</button>
</form>