form(action="/productos" method="post")
  label(for="title") Nombre
  input#name(type="text" name="title" required="")
  label(for="precio") Precio
  input#price(type="text" name="precio" required="")
  label(for="thumbnail") Imagen
  input#url(type="text" name="thumbnail" required="")
  button(type="submit") Submit